@media(max-width:   620px){
    .heading
    {
        padding: 30px 0;
    }

    .characters-slider
    {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-arrow
    {
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .characters-list
    {
        height: 480px;
    }
}