body
{
    background-image: url('../images/background-base.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
}

.heading
{
    padding: 60px 0;
    text-align: center;
}

.heading h1
{
    color: #f1ecff;
    font-size: 45px; 
    letter-spacing: 10px;
    text-transform: uppercase;
}

.characters-slider
{
    background-color: blue;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.characters-list
{
    background-color: orange;
    height: 520px;
    width: 330px;
}

.btn-arrow
{
    background-color: #fff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
}

.btn-arrow.btn-back
{
    transform: rotateY(180deg);
}

.btn-arrow:hover
{
    background-color: #8351fe;
}
